<!-- Navigation 1372px -->

<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #4F2D66;">
    <div class="container" style="max-width; 1372px">
        <a class="navbar-brand" style="color: aliceblue ; font-weight: bold;">
            <img src="/static/images.png" alt="Logo" height="30"
            class="d-inline-block align-top">
            Integral Computer Centre
        </a>
        <a href="/">
            <button style="border-radius: 16px; border: 2px solid #4F2D66; width: 100px; height: 32px;">
                <img src="/static/person.svg" alt="">Home</button>
        </a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" style="border-radius: 16px; border: 2px solid #4F2D66; background-color:white;width: 100px; height: 32px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a href="/admin">
                    <button style="border-radius: 16px; border: 2px solid #4F2D66; width: 100px; height: 32px;">
                        <img src="/static/person.svg" alt="">Admin</button>
                </a>
                <a href="/select">
                    <button style="border-radius: 16px; border: 2px solid #4F2D66; width: 100px; height: 32px;">
                        <img src="/static/person.svg" alt="">filter</button>
                </a>
            </div>
        </li>
        
        
    </div>
</nav>